@media screen and(max-width: 600px){
	.container{
		width: 100%;
	}
}

header{
  position: fixed;
  top: 0;
  display: block;
  color:#13481E;
  text-decoration: none;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  background-color:#eaf9ee;
  box-shadow: 0px 8px 16px 0px rgba(0,10,0,0.1);
}

.lib {
	float:left;
	height: 50px;
}

.linkHeader {
  display: block;
  color:#13481E;
  padding: 14px 16px;
  text-decoration: none;
	  float: left;
}

.titlePage{
margin-top: 50px;
margin-bottom: 50px;
}

.search{
	float: right;
       	margin: 7px;
	width: 200px;
	height: 35px;
	padding-left: 5px;
	background-color:#eaf9ee;
	color: #13481E;
	border: 1px solid #13481E;
	border-radius:20px;
}

.lupe{
	border-radius:20px;
	width: 35px;
	height: 35px;
	background-color:#eaf9ee;
	color: #13481E;
}

.srch{
	width: 160px;
	height: 35px;
	background-color:#eaf9ee;
	color: #13481E;
	border: 0px solid #13481E;
	border-radius:20px;
}





ul.breadcrumb {
  padding: 10px 15px;
  list-style: none;

}
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}
ul.breadcrumb li+li:before {
  padding: 5px;
  color: #13481E;
  content: "/\00a0";
}
ul.breadcrumb li a {
  font-size: 12px;
  color: #13481E;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}

.button{
	float: right;
	margin-top: 7px;
	width: 80px;
	height: 35px;
	background-color:#13481E;
  	color:#eaf9ee;
	border: 1px solid #13481E;
	border-radius:20px;
	
}
.button:hover { 
	background-color:#c5e5d0;
	color:#13481E;
}

#user_container {
	float:right;
	color:white;
}
#user_name{
	margin-right: 10px;
	margin-top: 7px;
	color:white;
}

footer { 
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0px 5px 0px;   
    background-color: #13481E;
    color:  #eaf9ee;
    text-align: center;
    z-index: 2;
}

