.lib {
	float:left;
	height: 50px;
}



.search{
       	margin: 7px;
	width: 200px;
	height: 35px;
	background-color:#eaf9ee;
	color: #13481E;
	border: 1px solid #13481E;
	border-radius:20px;
}

fa fa-search{
	width: 35px;
	height: 35px;
	background-color:#eaf9ee;
	color: #13481E;
	border: 1px solid #13481E;
	border-radius:20px;
}


.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#eaf9ee;
  box-shadow: 0px 8px 16px 0px rgba(0,10,0,0.1);
}

.li {
  float: left;
}

.li a {
  display: block;
  color:#13481E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover {

  border-radius: 5px;
}

ul.breadcrumb {
  padding: 10px 15px;
  list-style: none;

}
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}
ul.breadcrumb li+li:before {
  padding: 5px;
  color: #13481E;
  content: "/\00a0";
}
ul.breadcrumb li a {
  font-size: 12px;
  color: #13481E
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}

.button{
	float: right;
	margin-top: 7px;
	width: 80px;
	height: 35px;
	background-color:#eaf9ee;
	color: #13481E;
	border: 1px solid #13481E;
	border-radius:20px;
}
#user_container {
	float:right;
	color:white;
}
#user_name{
	margin-right: 10px;
	margin-top: 7px;
	color:white;
}


.button:hover {
  background-color:#13481E;
  color:#eaf9ee;
}



.footer {
   padding: 5px 0px 5px 0px;
  bottom: 0;
   width: 100%;
   background-color:#eaf9ee;
   color: #13481E;
   text-align: center;
}



