* {
    margin: 0px;
    padding: 0px;
}

body{
	background:#f4f9f6;
}

.lib {
	float:left;
	height: 50px;
}

.image{
	width: 300px;
	height: 300px;
	background-color:white;
	margin: 20px 20px 20px 20px;
	padding-bottom: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0.3,0.7);
	
}


.imageText {
margin-top: 10px;
  opacity: 0;	
  position: absolute; 
  width:300px;
  height:auto;
  text-align: center;
	z-index: 1;
}

.category{
	 opacity: 1;
         display: block;
	 width:300px;
	 height:270px;
	 transition: .5s ease;
     backface-visibility: hidden;	
}
.image:hover .category{
	 opacity: 0.3;
}

.image:hover .imageText{
	 opacity: 1;
}

p {
	margin-bottom: 3px;
	color: #13481E;
	text-align:center;
	cursor: pointer;
	border: 1px solid #eaf9ee;
	background-color: #eaf9ee;
	border-radius: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0.1,0.3);
}
p:hover {

	color: black;
	cursor: pointer;
	border: 1px solid #c5e5d0;
	background-color: #c5e5d0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0.2,0.5);
}


h2{
	padding: 20px 0px 0px 20px;	
	text-align:center;
	color:  #13481E;
}
h4{
	text-align:center;
	color: #13481E;
	margin-top: 10px;
}

h3{
	text-align:center;
	color:  #13481E;
	margin: 20px;
}

.left{
	grid-area:left;
}
.right{
	grid-area:right;
}
.main{
	grid-area:main;
}
.container{
		display: grid;
		grid-template-areas: "left main right"
				     "left main right";
		grid-template-columns:auto auto auto;
		grid-template-rows: 350px 350px;
		min-height: 100vh;
		grid-column-gap: 10px; 
		grid-row-gap: 10px;
		justify-content: center;
		padding: 10px;
}

@media screen and(max-width: 600px){
	.container{
		widht: 100%;
	}
}



