*{
    margin: 0px;
    padding: 0px;
}


.head {
    position: relative;
	background-color:red;
}
body{
	background:#f4f9f6;
}


.bookimgcontainer {
    
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    box-shadow: 0px -8px -6px 0px rgba(0,0,0.3,0.5);
}

#authorsTitle{

	background-color: #13481E;
    color:  #eaf9ee;
    text-align: center;
    margin-bottom: 0px;
	float: left;
	width: 200px;
	height:auto;
	padding-left: 5px;
	padding-right: 5px;
}
#dddd{

    top: 0;
    display: block;
    color:#13481E;
    background-color: red;
    width: 100%;
    background-color: green;
    z-index: 2;
    background-color:#eaf9ee;
    box-shadow: 0px 8px 16px 0px rgba(10,10,0,0.1);
    
}
#authorname{
    grid-row: 1 / 2 ;
    grid-column: 1 / 7;
    text-align: center;
    height: 90px;
    color: #13481E;
    padding-left: 10px;
    font-size: 30px;

}
#generalDiv{
   
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ;
    grid-gap: 10px;
    overflow-y:scroll;

}

.images {
    width:120px;
    min-height: 140px ;
    background-size: cover;
    cursor:pointer;
    margin: 0 ; 
    color:red;
    padding: 0px;
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}
.images:hover {
    box-shadow: 0px 8px 12px 0px rgba(0,0,0.1,0.3);
}    
.bookimgcontainer > p{
    margin-top: 0;
}

.autors{	

    height: auto;
    margin-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.3,0.5);
    
}

.autorsList{
    word-wrap: break-word;
    width: 100%;
	font-size:13px;
	padding: 5px ;
    margin-bottom: 3px;
    color: #13481E;
    text-align:center;
    cursor: pointer;
    border: 1px solid #eaf9ee;
    background-color: #eaf9ee;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.1,0.3);
}

.autorsList:hover{

    color: black;
    border: 1px solid #c5e5d0;
    background-color: #c5e5d0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2,0.5);
}

.things{
	
	height:auto;
	color: #13481E;
	padding-left: 5px;
	padding-right: 5px;
    margin-top: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.3,0.5);
}
#moreReadfewRead{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 5px;
    text-align: center;
}
#moreReadAndfewRead{
   
    grid-row: 1 / 2;
    height: auto;
    font-size:15px;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
}
#moreReadAndfewReadimg{
    width: 100px;
    height: 100px;
}
#moreReadfewRead > div > p {
     font-size:12px;
}
#moreReadfewRead > div {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    #generalDiv{
        display: grid;
        grid-template-columns: 1fr ;
    }


   .bookimgcontainer {       
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 10px;
        margin: auto;      
    }

    #authorname  {
       float: right;
       grid-column: 1 / 2;
       height: auto;
    }
    #authorName{
        grid-row: 1 / 2;
        grid-column: 1 / 2; 
    }
    .images{
         margin: auto;
    }
      
}
