* {
    margin: 0px;
    padding: 0px;
}

body{
	background:#313131;
}
.banner{
    display: grid;
    min-width: 100%;
    height: 200px;
}
button{
	float: right;
	width: 80px;
	height: 30px;
	background-color:#313131;
	color: white;
	border-radius:5px;
}
button:hover {
  background-color:#0037A0 ;
  color: white;
}

.image{
	width: 350px;
	height: 400px;
	background-color:white;
	margin: 20px 20px 20px 20px;
	padding-bottom: 20px;
}

a:link {
  	text-decoration: none;
	color: #1264A3;
	text-align:center;
}
	
a:visited {
  	text-decoration: none;
	color: #1264A3;
	
}

a:hover {
  	text-decoration: none;
	color: black;
	padding-bottom: 10px;
}

a:active {
  	text-decoration: none;
	color: black;
	padding-bottom: 10px;
}

h1{
	padding: 20px 0px 0px 20px;	
	text-align:center;
	color: white;
}
h4{
		text-align:center;
}
.p{
	text-align:center;
	color: white;
	margin: 20px;
}
.category{

	width:350px;
	height:350px;
	
}

table{
	margin-left: auto;
	margin-right: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0.5,0.7);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.left{
	grid-area:left;
}
.right{
	grid-area:right;
}
.main{
	grid-area:main;
}
.container{
		display: grid;
		grid-template-areas: "left main right"
				     "left main right";
		grid-template-columns:auto auto auto;
		grid-template-rows: 400px 400px;
		min-height: 100vh;
		grid-column-gap: 10px; 
		grid-row-gap: 60px;
		justify-content: center;
		padding: 10px;
}

@media screen and(max-width: 600px){
	.container{
		widht: 100%;
	}

	
