* {
    margin: 0px;
    padding: 0px;
}

.head {
    position: relative;
	background-color:red;
}
body{
	background:#f4f9f6;
}

.bookimgcontainer {
    
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: red;
}

#authorsTitle{
	background-color: #13481E;
    color:  #eaf9ee;
    text-align: center;
    margin-bottom: 0px;
	float: left;
	width: 200px;
	height:auto;
	padding-left: 5px;
	padding-right: 5px;
}

#authorname{
    grid-row: 1 / 2 ;
    grid-column: 1 / 8;
    text-align: center;
    height: 90px;
    color: black;
    padding-left: 10px;
    font-size: 30px;

}
.images {
    height: 180px;
    cursor:pointer;
}

#generalDiv{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ;
}

.images > img{

    background-repeat: no-repeat;
    margin: 0; 
    height: 79%;    
    width:100%;
}
.images > p{
    font-size: 14px;
    margin:0;
    height: 20%;    
    text-align: center;
    
    color: black;
    border:1px solid #ffffb3;   
}
.bookimgcontainer > p{
    margin-top: 0;
    
}

.autors{
	
	
	padding-left: 5px;
	padding-right: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.3,0.5);
}
.autorsList{
	font-size:14px;
	color:  #13481E;
	cursor: pointer;
	padding: 2px 2px 2px 2px;
}

.autorsList:hover{
	background-color: #eaf9ee ;
	border-radius: 5px; 
	color: #13481E;
	cursor: pointer;
}

.things{
	
	height:auto;
	color: #13481E;
	padding-left: 5px;
	padding-right: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.3,0.5);
}
.footer{
    margin-top: 350px;
}

@media only screen and (max-width: 600px) {

    #generalDiv{
        display: grid;
        grid-template-columns: 1fr ;
    }


   .bookimgcontainer {       
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 10px;
        margin: auto;      
    }

    #authorname  {
       float: right;
       grid-column: 1 / 2;
       height: auto;
    }
    .ul{
        float: center;
    }
    .images{
        height: 400px;
    }   
    .footer{
        margin-top: 50px;
    }
}
