@charset "utf-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background-color: rgb(14, 143, 39);
	color:#606468;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}
*{
	box-sizing: border-box;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

.container {
	margin: 50px auto;
	width: 280px;
	
}

.container form span {
	background-color: lightgreen;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

.button {
	color: white;
	cursor: pointer;
}

.container form input {
	height: 50px;
	outline:none;
}

.container form input[type="text"], input[type="password"] {
	background-color: rgb(226, 238, 226);
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
}

.container form input:focus {
	color:#606468;
}

.container form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color:rgb(31, 107, 31);
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 248.5px;
}

.container form input[type="submit"]:hover {
	background-color:rgb(20, 97, 20);
}

.container > p {
	text-align: center;
}

.container > p span {
	padding-left: 5px;
}

#banner{
    min-width: 100%;
    height: 200px;
}
#top{
	font-family: cursive;
	color:white;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	padding: 0px;
	padding-bottom: 20px;
	line-height: 1;
}
.topDiv{
	padding-bottom: 0px;
}
/* #footer{
	color: grey;
	height: 20px; 
	border: solid 1px
} */