.head{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    text-align: center
        
}
.head div{
    /*border: solid;*/ 
    padding: 20px;
    font-style: initial;
    cursor: pointer;

}
.mid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}


.h1m:hover{
    color:red; 
    cursor: pointer;
}

.p3m{
    text-align: center;
   margin-bottom: 20px;
   cursor: pointer;
}

.p3m:hover{
    color:red; 
    cursor: pointer;
}

.h1m{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px #ff0000;
}

/* .middiv3 {
  
    background-image: url("hitler.jpg");
    background-repeat: no-repeat;
    text-align: justify;
    
    } */
.mid3p{
    font-style: italic;
    cursor: pointer;
    padding: 10px;
    text-shadow: 2px 2px rgb(180, 166, 166);
}
.mid12{
   text-align: center;
}

.mid12:hover{
    color:red; 
    
}
.mid1{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    
}

.mid1h1:hover{
    cursor: pointer;
    color:red; 
    

}
.mid1h2:hover{
    color:red; 
    cursor: pointer;
    
}
.mid1h3:hover{
    color:red; 
    cursor: pointer;
    
}
.mid1h1 {
    text-shadow: 2px 2px 5px #ff0000;
}

.mid1h2 {
    text-shadow: 2px 2px 5px #ff0000;
}
.mid1h3 {
    text-shadow: 2px 2px 5px #ff0000;
}

  .mid122{
  background-image: url("pirana.jpg");
  filter: drop-shadow(8px 8px 10px gray);
  background-repeat: no-repeat;
  }
 

.bottom{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    cursor: pointer;
   
}
.bottom div{
   
    text-align: justify;

}
.hov:hover{
    color:red; 
    

}
.hov {
    color: white;
  text-shadow: 2px 2px 4px #000000;
}

.bottomend{

    
  color: #008CBA;
  text-align: center;
  
}

.last{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.last div{
    text-align: center;
    border: solid 1px;
 
}

.lastdiv1:hover{
    color:red;
    

}
    

.lastdiv1:hover{
    color:red; 

}