input{
margin-left: 50px;
border: 1px solid #0c1844;
height: 20px;
border-radius: 6px;
background-color: #ededed; 
}
form{
margin: 50px 250px 20px  250px;
background-color: #e0e0e0;
font-size: 18px;
}
fieldset{
border: 1px solid #0c1844;;
color: #700424;
}

h2{
color: #700424;
margin-left:220px;
}

body{
background-color: #e8e8e8;
}
.submit{
margin-left: 170px;
width: 80px;
}
.reg{
margin:30px 200px 0px 200px;
}
