body{
background: #09295e

}
.moreTable{
	margin: 50px 30px 50px 30px;
	color: white;
	border-top: 1px solid #b5cae0;


}
.moreTh{
	width: 250px;
	font-size: 20px;
}

.moreTr{
	height: 50px;
	text-align: center;
}
