.head {
    position: relative;
}

.banner{
    display: grid;
    min-width: 100%;
    height: 200px;
}

.bookimgcontainer {
    
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: #B5D1D3;

}
.bookimgcontainer > div {
	border: 1px solid black;
}
.firstreiting {

    grid-row: 1 / 2;
    grid-column:1 / 2;
    height: 300px;
}
.about1{
    height: 30px;
    grid-row: 2 / 3;
    grid-column:1 / 2;
}
.secondreiting{
	height: 300px;
    grid-column:2 / 4;
}

.about2{
    height: 30px;
    grid-row: 2 / 3;
    grid-column:2 / 4;
}
.a3{
    height: 300px;
    grid-column:4 / 5;
    grid-row: 1 / 2;
}
.about3{
    height: 30px;
    grid-column:4 / 5;
    grid-row: 2 / 3;
}
.a4{
    height: 150px;
    grid-column:1 / 2;
    grid-row: 3 / 4;
}
.about4{
    height: 30px;
    grid-column:1 / 2;
    grid-row: 4 / 5;
}
.a5{
    height: 150px;
    grid-column:2 / 3;
    grid-row: 3 / 4;
}
.about5{
    height: 30px;
    grid-column:2 / 3;
    grid-row: 4 / 5;
}
.a6{
    height: 150px;
    grid-column:3 / 4;
    grid-row: 3 / 4;
}
.about6{
    height: 30px;
    grid-column:3 / 4;
    grid-row: 4 / 5;
}
.a7{
    height: 150px;
    grid-column:4 / 5;
    grid-row: 3 / 4;
}
.about7{
    height: 30px;
    grid-column:4 / 5;
    grid-row: 4 / 5;
}
.about8{
    height: 30px;
    grid-column:1 / 2;
    grid-row: 6 / 7;
}
#authorname{
	color: coral;
	padding-left: 10px;
    font-size: 20px;


}

.images > img{

    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; 
    height: 100%;    
    width:100%;
}
.bookimgcontainer > p{
    margin-top: 0;
    background-color: cyan;
}
