.head {
    position: relative;
}

.back {
    position: absolute;
}

.banner{
    display: grid;
    min-width: 100%;
    height: 200px;
}

.bookimgcontainer {
  height: 400px;
  margin:  auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #77f4b7;
  padding: 10px;

}
.bookimgcontainer > div {
	border: 1px solid black;
}
.firstreiting {

  grid-row: 1 / 4;
  grid-column:1 / 2;
}
.secondreiting{
	grid-row: 1 / 3;
  grid-column:2 / 4;
}
.authorname{
	
	background-color: blue;
	padding-left: 30px;

}

@media only screen and (max-width: 800px) {
  .bookimgcontainer {
      grid-template-columns: auto auto;
    }
    .firstreiting {

    grid-row: 1 / 4;
    grid-column:1 / 4;
  }
.secondreiting{
   grid-row: 4 / 6;
   grid-column:1 / 4;
 }


}