.head {
    position: relative;
}
body{
	background:#B5D1D3;
}
.banner{
    display: grid;
    min-width: 100%;
    height: 200px;
}

.bookimgcontainer {
    
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: #313131;
}

#authorname{
    grid-row: 1 / 2 ;
    grid-column: 1 / 8;
    text-align: center;
    height: 90px;
	color: coral;
	padding-left: 10px;
    font-size: 30px;
}
.images {
    height: 180px;
}
.images > img{

    background-repeat: no-repeat;
    margin: 0; 
    height: 79%;    
    width:100%;
}
.images > p{
    font-size: 20px;
    margin:0;
    height: 20%;    
    text-align: center;
    background-color: #ffe6e6;
    color: black;
    border:1px solid #ffffb3;   
}
.bookimgcontainer > p{
    margin-top: 0;
    
}
@media only screen and (max-width: 600px) {

   .bookimgcontainer {       
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 10px;
        margin: auto;      
    }
    #authorname  {
       grid-column: 1 / 2;
       height: auto;
    }
    .images{
        height: 400px;
    }   
}
.autors{
	float: left;
	width: 200px;
	height:auto;
}